/* line 1, ../scss/_translucent.scss */
.content {
  box-sizing: border-box;
  /* Not covered by autoprefixer... */
  -webkit-flow-into: content;
  flow-into: content;
  overflow: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  /* Not covered by autoprefixer... */
  overflow-scrolling: touch;
}

/* line 21, ../scss/_translucent.scss */
.header__background,
.phone__content {
  transform: translateZ(0);
  overflow: hidden;
  /* Not covered by autoprefixer... */
  -webkit-flow-from: content;
  flow-from: content;
}

/* line 7, ../scss/main.scss */
.content {
  padding: 1em 1em 0 1em;
  height: 567px;
  transform: translateY(-60px);
  padding-top: 60px;
}

/* line 14, ../scss/main.scss */
.messages {
  margin: 10px 0;
  padding: 0;
  list-style-type: none;
}

/* line 20, ../scss/main.scss */
.messages li {
  display: block;
  float: left;
  clear: both;
  max-width: 60%;
  margin: 0 0 1em 0;
  padding: 0;
}

/* line 29, ../scss/main.scss */
.messages li:nth-child(even) {
  float: right;
}

/* line 33, ../scss/main.scss */
.messages li:nth-child(even) img {
  float: right;
}

/* line 37, ../scss/main.scss */
.messages p {
  border-radius: .75em;
  background: #e6e5eb;
  color: #383641;
  padding: .6875em;
  margin: 0;
  font-size: .875em;
}

/* line 46, ../scss/main.scss */
.messages li:nth-child(even) p {
  background: #158ffe;
  color: #fff;
}

/* line 51, ../scss/main.scss */
.messages img {
  display: block;
  max-width: 65%;
  border-radius: .75rem;
}

/* line 58, ../scss/main.scss */
.phone {
  position: relative;
  width: 509px;
  height: 931px;
  margin: 0 auto;
  background: url(/img/phone.png);
}

/* line 66, ../scss/main.scss */
.phone__display {
  position: absolute;
  top: 182px;
  left: 95px;
  height: 567px;
  width: 319px;
}

/* line 74, ../scss/main.scss */
.header {
  position: relative;
  height: 60px;
}
/* line 80, ../scss/main.scss */
.header:before, .header:after {
  position: absolute;
  content: '';
  width: 100%;
  z-index: 1;
}
/* line 87, ../scss/main.scss */
.header:before {
  height: 100%;
}
/* line 91, ../scss/main.scss */
.header:after {
  height: 1px;
  bottom: 0;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

/* line 99, ../scss/main.scss */
.header__text, .header__background {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: inherit;
}

/* line 106, ../scss/main.scss */
.header__text {
  font-weight: 300;
  text-align: center;
  line-height: 60px;
  z-index: 4;
}

/* line 117, ../scss/main.scss */
.header__background {
  filter: blur(10px);
  opacity: .2;
}

/* line 131, ../scss/main.scss */
body {
  font-family: "Helvetica Neue","Helvetica","sans-serif";
}

/* line 135, ../scss/main.scss */
.custom {
  position: absolute;
  top: 10px;
}
/* line 139, ../scss/main.scss */
.custom style {
  display: block;
  white-space: pre;
}
