@import url(http://weloveiconfonts.com/api/?family=entypo);
/* line 1, ../scss/_translucent.scss */
.content {
  box-sizing: border-box;
  /* Not covered by autoprefixer... */
  -webkit-flow-into: content;
  flow-into: content;
  overflow-y: auto;
}

/* line 16, ../scss/_translucent.scss */
.blurred__background, .phone__content {
  transform: translateZ(0);
  overflow: hidden;
  /* Not covered by autoprefixer... */
  -webkit-flow-from: content;
  flow-from: content;
}

/* entypo */
/* line 4, ../scss/_common.scss */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

/* line 8, ../scss/_common.scss */
.messages {
  margin: 10px 0;
  padding: 0;
  list-style-type: none;
}

/* line 14, ../scss/_common.scss */
.messages li {
  display: block;
  float: left;
  clear: both;
  max-width: 60%;
  margin: 0 0 1em 0;
  padding: 0;
}

/* line 23, ../scss/_common.scss */
.messages li:nth-child(even) {
  float: right;
}

/* line 27, ../scss/_common.scss */
.messages li:nth-child(even) img {
  float: right;
}

/* line 31, ../scss/_common.scss */
.messages p {
  border-radius: .75em;
  background: #e6e5eb;
  color: #383641;
  padding: .6875em;
  margin: 0;
  font-size: .875em;
}

/* line 40, ../scss/_common.scss */
.messages li:nth-child(even) p {
  background: #158ffe;
  color: #fff;
}

/* line 45, ../scss/_common.scss */
.messages img {
  display: block;
  max-width: 65%;
  border-radius: .75rem;
}

/* line 52, ../scss/_common.scss */
body {
  font-family: "Helvetica Neue","Helvetica","sans-serif";
}

/* line 56, ../scss/_common.scss */
.custom {
  position: absolute;
  top: 10px;
}
/* line 60, ../scss/_common.scss */
.custom style {
  display: block;
  white-space: pre;
}

/* line 9, ../scss/main.scss */
.content {
  padding: 1em 1em 0 1em;
  height: calc(567px + 60px + 45px);
  padding-top: 60px;
  padding-bottom: calc(60px + 60px + 45px);
}

/* line 17, ../scss/main.scss */
.phone {
  position: relative;
  width: 509px;
  height: 931px;
  margin: 0 auto;
  background: url(/img/phone.png);
}

/* line 25, ../scss/main.scss */
.phone__display {
  position: absolute;
  top: 182px;
  left: 95px;
  height: 567px;
  width: 319px;
}

/* line 33, ../scss/main.scss */
.blurred {
  position: relative;
  height: 60px;
}

/* line 38, ../scss/main.scss */
.blurred__background, .header__text, .footer__container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: inherit;
}

/* line 44, ../scss/main.scss */
.blurred__background {
  filter: blur(10px);
  opacity: .2;
}

/* line 53, ../scss/main.scss */
.header:before, .header:after {
  position: absolute;
  content: '';
  width: 100%;
  z-index: 1;
}
/* line 60, ../scss/main.scss */
.header:before {
  height: 100%;
}
/* line 64, ../scss/main.scss */
.header:after {
  height: 1px;
  bottom: 0;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

/* line 71, ../scss/main.scss */
.header__text {
  font-weight: 300;
  text-align: center;
  line-height: 60px;
  z-index: 4;
}

/* line 81, ../scss/main.scss */
.footer {
  position: relative;
  height: 45px;
}
/* line 86, ../scss/main.scss */
.footer:before, .footer:after {
  position: absolute;
  content: '';
  width: 100%;
  z-index: 1;
}
/* line 93, ../scss/main.scss */
.footer:before {
  height: 100%;
}
/* line 97, ../scss/main.scss */
.footer:after {
  height: 1px;
  top: 0;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1);
}

/* line 104, ../scss/main.scss */
.footer__container {
  list-style: none;
  margin: 0 1.2em;
  padding: 0;
  letter-spacing: 1.5em;
}
/* line 110, ../scss/main.scss */
.footer__container > li {
  display: inline-block;
  line-height: 45px;
  font-size: 1.5em;
}
/* line 115, ../scss/main.scss */
.footer__container .spacer {
  width: .22em;
}

/* line 120, ../scss/main.scss */
.phone__content {
  height: 462px;
}

/* line 127, ../scss/main.scss */
body {
  font-family: "Helvetica Neue","Helvetica","sans-serif";
}

/* line 131, ../scss/main.scss */
.custom {
  position: absolute;
  top: 10px;
}
/* line 135, ../scss/main.scss */
.custom style {
  display: block;
  white-space: pre;
}
