%content{
  box-sizing:border-box;

  /* Not covered by autoprefixer... */
  -webkit-flow-into: content;
          flow-into: content;   // Define the flow (CSS Region)


  // Make it scrollable on the y-axis
  overflow-y:auto;


}

// Header section, blur can be applyed here.
%contentFlow{
  // Performance!
  transform:translateZ(0);

  overflow:hidden;

  /* Not covered by autoprefixer... */
  -webkit-flow-from: content;
          flow-from: content;
}


@mixin setContentHeight($content-height, $header-height, $footer-height){
  height: calc(#{$content-height} + #{$header-height} + #{$footer-height});
  // Move the content beneth the header
  padding-top: $header-height;
  padding-bottom:  calc(#{$header-height} + #{$header-height} + #{$footer-height});
}