%content{
  box-sizing:border-box;

  /* Not covered by autoprefixer... */
  -webkit-flow-into: content;
          flow-into: content;   // Define the flow (CSS Region)


  // Make it scrollable on the y-axis
  overflow-y:auto;


}

// Header section, blur can be applyed here.
%headerFlow,
%contentFlow{
  // Performance!
  transform:translateZ(0);

  overflow:hidden;

  /* Not covered by autoprefixer... */
  -webkit-flow-from: content;
          flow-from: content;
}

%contentFlow{
  -webkit-overflow-scrolling: touch;
}

@mixin setContentHeight($content-height, $header-height){
  height: $content-height;

  // To archive the blur effect in the header, the content must flow though the .header__background element.
  transform:translateY(-$header-height);

  // Move the content beneth the header
  padding-top: $header-height;
}