@import 'translucent';
@import 'common';

$header-height : 60px;
$footer-height : 45px;

html,
body{
  margin:0;
  padding:0;
  height:100%;
  width:100%;
  overflow:hidden;
}

.content{
  @extend %content;
  padding:1em 1em 0 1em;
  height:100vh;
  padding-top:$header-height;
  padding-bottom:$header-height;
}

  .blurred{
    position:relative;
    height:$header-height;
  }

  %blurred__sub{
    position:absolute;
    top:0;left:0;right:0;
    height:inherit;
  }

  .blurred__background{
    @extend %blurred__sub;
    @extend %contentFlow;
    filter:blur(10px); // Blur it
    opacity:.2;
  }

  .header{
    &:before,
    &:after{
      position:absolute;
      content:'';
      width:100%;
      z-index:1;
    }

    &:before{ // Tint Color
      height:100%;
    }

    &:after{  // Bottom Shadow
      height:1px;
      bottom:0;
      box-shadow: 0 1px 0 rgba(0,0,0,.1);
    }
  }

  .header__text{
    @extend %blurred__sub;
    font-weight:300;

    text-align:center;
    line-height:$header-height;
    z-index:4;
  }


  .footer{
    height:$footer-height;

    &:before,
    &:after{
      position:absolute;
      content:'';
      width:100%;
      z-index:1;
    }

    &:before{ // Tint Color
      height:100%;
    }

    &:after{  // Bottom Shadow
      height:1px;
      top:0;
      box-shadow: 0 -1px 0 rgba(0,0,0,.1);
    }
  }

    .footer__container{
      @extend %blurred__sub;
      list-style:none;
      margin:0 1.2em;
      padding:0;
      letter-spacing:1.5em;
      > li {
        display:inline-block;
        line-height:$footer-height;
        font-size:1.5em;
      }
      .spacer{
        width:.22em;
      }
    }

.phone__content{
  @extend %contentFlow;
  height:calc(100% - #{$footer-height} - #{$header-height});
}

.wrapper{
  height:100%;
}